# Binaries for programs and plugins
*.exe
*.exe~
*.dll
*.so
*.dylib
*.idea
*.vscode

# Build
noData-chat-API
gin-bin

# Test binary, build with `go test -c`
*.test

# Output of the go coverage tool
*.out
